@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif   ;
    background-color: rgba(255, 233, 203, 0.603);
}

header{
    background-image: linear-gradient(to bottom, #76fe7a, #044d07f7);
    color: white;
    padding: 50px;
    text-align: center;
}

#curiosidade{
    font-size: 2em;
    text-align: center;
}

#informacao{
    text-align: center;
}

nav{
    text-align: left;
    background-color: #044d07f7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    padding: 5px;
}

nav > a{
    padding: 10px;
    text-decoration: none;
    color: rgb(231, 254, 218);
}

a:hover{
    padding: 5px;
    background-color: #76fe7a;
    color: black;
}

main{
    background-color: white;
    padding: 1px;
    margin: 0px 20px 0px 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
}

h1, h2, h3{
    font-family: "Bitcount Prop Single", system-ui;
}

h1{
    color: darkgreen;
}

h2{
    color: green;
    background-color: #76fe7b81;
}

span{
    color: darkgreen;
}

p{
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

.link_text{
    background-color: #76fe7b81;
    color: green;
    text-decoration: none;
}

.link_text:hover{
    text-decoration: underline;
    padding: none;
    background-color: #76fe7b81;
}